#header {
    background-color: #F9F9FB;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px;
    margin: 0px;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 1px;
}

#logo {
    width: 49px;
    height: 55px;
}

#mainTitle {
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
    color: #464646;
    margin: 0px;
    position: absolute;
    top: 15px;
}

#blueText {
    color: #009CDE;
}

#slogan {
    color: #464646;
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
    position: absolute;
    top: 33px;
}

.headerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #04ADBF;
    border-radius: 12px;
    width: 132px;
    height: 48px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-decoration: none;
}

#signUpBtn {
    background-color: #FFFFFF;
    color: #04ADBF;
    margin-right: 1rem;
}

#loginBtn {
    color: #FFFFFF;
    background-color: #04ADBF;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    right: 20px;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #313131;
    margin: 3px;
    transition: 0.3s;
}

.dropdownMenu {
    display: none;
    flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #E0E0E0;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    z-index: 1001;
    width: 75%;
    height: 98vh;
}

.dropdownMenu a {
    padding: 5px 0px 27px 0px;
    text-decoration: none;
    color: #464646;
    border-top: 1px solid #A1A7B0;
    width: 80%;
    align-self: flex-end;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
}

.dropdownMenu h3 {
    color: #464646;
    width: 80%;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 89px;
}

.dropdownMenuEnter {
    display: flex;
    animation: openMenu 0.3s ease-in-out forwards;
}
  
.dropdownMenuExit {
    display: none;
    animation: closeMenu 0.5s ease-in-out forwards;
    visibility: hidden;
}

.blurredBackgroundEnter {
    display: flex;
    animation: openBlur 0.3s ease-in-out forwards;
}
  
.blurredBackgroundExit {
    display: none;
    animation: closeBlur 0.3s ease-in-out forwards;
}

.blurredBackground {
    width: 26%;
    background-color: rgba(2, 115, 115, 0.43);
    backdrop-filter: blur(5px); 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1001;
    height: 100vh;
}

@keyframes openMenu {
    0% {
      opacity: 0;
      transform: translateY(-20px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes closeMenu {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px); 
      visibility: hidden;
    }
}

@keyframes openBlur {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes closeBlur {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@media (max-width: 630px) {
    .hamburger {
        display: flex;
    }

    .rightSection {
        display: none;
    }
}

@media (min-width: 631px) {
    .dropdownMenu {
        display: none; 
    }

    .hamburger {
        display: none;
    }

    .rightSection {
        display: flex;
        align-items: center;
    }
}