:root {
  font-family: "Manrope", sans-serif;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  margin-top: 75px;
  min-width: 360px;
}

.slick-slider {
  width: 100%; 
}

.slick-slide {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: auto; 
}

.slick-arrow {
  display: none !important;
}



